{ 

    margin: 0;
    padding: 0;
}
#hero-section{
      margin: auto;
      border: 1 px solid black;
      background-image: url('img16.jpeg');
      height: 200px;
      position:absolute;

    }
    .bannar img{
        width: 100px;
        height: 100px;
    }
